@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h1 {
  color: rgb(197, 8, 8);
  font-size: 50px;
  background-color: rgb(179, 179, 179);
  font-family: "Playfair Display", serif;
  padding-left: 10px;
  border: 3px solid rgb(255, 0, 0);
}
h2 {
  color: rgb(146, 12, 12);
  font-family: "Playfair Display", serif;
  font-size: 25px;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Introducció {
  color: rgb(207, 30, 66);
}

.colorvermell {
  color: rgb(255, 0, 0);
}

.capçalera {
  grid-area: c;
}

.contingut {
  grid-area: o;
  padding: 10px;
}

.lateral {
  grid-area: l;
  padding: 10px;
}

.peu {
  grid-area: p;
}

.principal {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 100px auto 40px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "c c"
    "o l"
    "p p";
}
